.content{
    height: auto;
    width: 100%;
}
.content .panel-primary{
    height: 100%;
    color: #777;
}
.content .add{
    left: 95%;
}
.topBox{
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    min-height: 385px;
    min-width: 1020px;
    width: auto;
}
.bottomBox{
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    min-height: 385px;
    min-width: 1020px;
    width: auto;
}
.box1{
    float: left;
    margin-right: 10px;
    min-height: 300px;
    height:385px;
    width: 49%;
}
.box2{
    float: left;
    margin-left: 10px;
    min-height: 300px;
    height:385px;
    width: 49%;
}
.chartBody{
    background: #FFF;
}
.projectManager{
    background: #FFF;
}
.productManager{
    background: #FFF;
}
.select{
    width: 79%;
}
.page4 .add{
    left: 80%;
}
#chart1{
    min-height: 90%;
    min-width: 100%;
}
#chart2{
    min-height: 90%;
    min-width: 100%;
}
#chart3{
    min-height: 90%;
    min-width: 100%;
}
#chart4{
    min-height: 90%;
    min-width: 100%;
}